{
  "name":"ylwsmp-backend",
  "type":"module",
  "scripts":{"start":"node server.js"},
  "dependencies":{"express":"latest","cors":"latest","dotenv":"latest","axios":"latest","rcon-client":"latest"}
}